// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Top Navbar
.navbar-orange, .bg-orange {
    background-color: orange !important;
}

.text-white {
    color: white !important;
}

// Side Navbar
#sidebarMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 70px;
    background-color: #f8f9fa;
    z-index: 1000;
}

#sidebarMenu .nav-link {
    font-size: 1.1rem;
    color: rgb(65, 63, 63) !important;
}

#sidebarMenu .nav-link i {
    font-size: 1.3rem;
    color: rgb(65, 63, 63) !important;
}

#sidebarMenu .nav-link.active {
    background-color: orange !important;
    color: white !important;
}

#sidebarMenu .nav-link.active i {
    color: white !important;
}

#sidebarMenu .nav-link:hover {
    background-color: orange;
    color: white;
}

#sidebarMenu.show {
    position: fixed;
    z-index: 1045;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
}

// Dashboard and any other interfaces
.icon-large {
    font-size: 2rem;
    align-self: center;
}

.icon-background {
    background-color: rgba(255, 166, 0, 0.959);
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-right {
    margin-right: 10px;
}
